<html>
    <head>
        <title>
            My TaskList App
        </title>
        
        <link rel="stylesheet" href="">

    </head>
    <body>        
        <h1>TaksList</h1>
        <form action="/addtask" method="POST">
            <div class="all-main">
                <div class="main-form">
                    <h2>ADD Tasks</h2>
                    <div>
                        <label for="DESCRIPTION">DESCRIPTION</label><br>
                        <input type="text" name="newtask" placeholder="what do you need to do?" >
                        <br>
                        <label for="Category">Category</label><br>
                        <select name="tasktype">
                            <option value="Home"><span id="option">Home</span></option>
                            <option value="Professional"><span id="option"></span>Professional</span></option>
                            <option value="School"><span id="option"></span>School</span></option>
                            <option value="Cleaning"><span id="option"></span>Cleaning</span></option>
                            <option value="Others"><span id="option"></span>Others</span></option>
                        </select>
                        <br>
                        <label for="DATE">DUE DATE</label><br>
                        <input type="date" name="date">   
                        <br>
                        <button type="submit">Add Task</button>
                    </div>    
                </div>   
                <div class="new-task">
                    <h2>NEW TASKS </h2>
                    <ul>
                        <% for( let i of task_list){ %>
                        <div>  
                            <div>
                                <li><input type="checkbox" name="check" value="<%=i.newtask %>" /> <span id="taskname"><%=i.newtask %> </span><span id="type"><%= i.tasktype%></span> <br><div id="date"><i class="fas fa-calendar-check fa-lg"></i>&nbsp;&nbsp;<%= i.date%></div></li>
                            </div>
                            <div>
                                <li> 
                                    <button  id="btn"formaction="/removetask/?id=<%=i._id%>" type="submit">Delete</button>
                                </li>
                            </div>
                        </div>
                        <% } %>
                    </ul>
                </div>
                <div class="comp-task">
                    <h2>COMPLETED TASK </h2>
                    <div>
                        <ul>
                            <% for(var i = 0; i < complete.length; i++){ %>
                            <li>
                                <span id="comp"><%= complete[i] %></span>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </form>     
    </body>
</html>